@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

body {
  color: #c1c7d1;
  background-image: linear-gradient(#2c5364, #3f5661, #46545a);
}

.App {
  text-align: center;
  display: grid;
  grid-template: 1fr 6fr 1fr / 20% 60% 20%;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    'header header header'
    'nav main sidebar'
    'footer footer footer';
}

@media only screen and (max-width: 568px) {
  .App {
    text-align: center;
    display: grid;
    grid-template: 1fr 6fr 2fr / 100%;
    grid-template-areas:
      'header '
      'nav'
      'main '
      'sidebar'
      'footer';
  }
}

.header {
  grid-area: header;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 1.5em;
  letter-spacing: normal;
  line-height: 24px;
  background-image: linear-gradient(#0f2027, #203a43, #2c5364);
}

/* .logout {
  margin-left: 80%;
} */

.nav {
  grid-area: nav;
  background-image: linear-gradient(#2c5364, #3f5661, #46545a);
}

.main {
  grid-area: main;
  background-image: linear-gradient(#536f7c, #45545b);
  border-radius: 10px;
  height: 80vh;
  width: 80vw;
  overflow-y: scroll;
  width: 100%;
}

hr {
  width: 50%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* logout button  */

.loginLogout {
  -moz-box-shadow: inset 0px 0px 14px -3px #577a8a;
  -webkit-box-shadow: inset 0px 0px 14px -3px #577a8a;
  box-shadow: inset 0px 0px 14px -3px #577a8a;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #dbe6c4),
    color-stop(1, #9ba892)
  );
  background-image: linear-gradient(#446b7c, #36525c, #30454e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
  background-color: #c1c7d1;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #638494;
  display: inline-block;
  /* width: 5vw; */
  cursor: pointer;
  color: #c1c7d1;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 1.4vh;
  font-weight: bold;
  padding: 4px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ced9bf;
}
.loginLogout:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #537b8a),
    color-stop(1, #395863)
  );
  background: linear-gradient(to bottom, #446b7c 5%, #6793a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#395863', endColorstr='#537b8a',GradientType=0);
  background-color: #395863;
}
.loginLogout:active {
  position: relative;
  top: 1px;
}

.voteArrowButton {
  -moz-box-shadow: inset 0px 0px 14px -3px #577a8a;
  -webkit-box-shadow: inset 0px 0px 14px -3px #577a8a;
  box-shadow: inset 0px 0px 14px -3px #577a8a;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #dbe6c4),
    color-stop(1, #9ba892)
  );
  background-image: linear-gradient(#446b7c, #36525c, #30454e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
  background-color: #c1c7d1;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #638494;
  display: inline-block;
  font-size: 1vmax;
  cursor: pointer;
  color: #c1c7d1;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-weight: bold;
  padding: 8px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ced9bf;
}
.voteArrowButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #537b8a),
    color-stop(1, #395863)
  );
  background: linear-gradient(to bottom, #446b7c 5%, #6793a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#395863', endColorstr='#537b8a',GradientType=0);
  background-color: #395863;
}
.voteArrowButton:active {
  position: relative;
  top: 1px;
}

/* .spanArrow {
  padding-left: 1.5%;
} */

.deleteButton {
  -moz-box-shadow: inset 0px 0px 14px -3px #577a8a;
  -webkit-box-shadow: inset 0px 0px 14px -3px #577a8a;
  box-shadow: inset 0px 0px 14px -3px #577a8a;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #c94118),
    color-stop(1, #924c37)
  );
  background-image: linear-gradient(#924c37, #a54d32, #c94118);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#924c37', endColorstr='#c94118',GradientType=0);
  background-color: #c1c7d1;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #a85035;
  display: inline-block;
  font-size: 1.3vh;
  margin-top: 4%;
  cursor: pointer;
  color: #c1c7d1;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-weight: bold;
  padding: 8px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #c58875;
}
.deleteButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #924c37),
    color-stop(1, #c94118)
  );
  background: linear-gradient(to bottom, #c94118 5%, #924c37 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c94118', endColorstr='#924c37',GradientType=0);
  background-color: #c94118;
}
.deleteButton:active {
  position: relative;
  top: 1px;
}

.sidebar {
  grid-area: sidebar;
  text-align: center;
  position: relative;
  background-image: linear-gradient(#2c5364, #3f5661, #46545a);
}

.footer {
  grid-area: footer;
  background-image: linear-gradient(#45545a, #2c414b, #0f2027);
}
