@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.article-container {
  list-style: none;
  display: grid;
  align-items: center;
  margin: 0;
  color: #c1c7d1;
  overflow-y: scroll;
}

.mainArticleTitle {
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 1.4em;
  letter-spacing: normal;
  line-height: 24px;
  padding-top: 4%;
}

.article-card {
  /* border: solid 1px rgb(48, 48, 48); */
  background-color: #203a43;
  border-radius: 5px;
  /* margin: 2% 2%; */
  padding: 2% 4%;
}

.articleTitle {
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 1.5em;
  letter-spacing: normal;
  line-height: 24px;
}

.article {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9em;
  letter-spacing: normal;
  line-height: 21px;
  text-decoration: none;
  color: #c1c7d1;
  border-radius: 5px;
  margin: 2% 2%;
  padding: 2%;
}

.box {
  border: 1px solid #c1c7d1;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 2% 2%;
  transition: 0.9s all;
}
.box-wrap:hover .box {
  filter: blur(1px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
.box-wrap:hover .box:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}
