@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

.comments-container {
  /* background-color: bisque; */
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 1.5em;
  letter-spacing: normal;
  line-height: 24px;
}

.textArea {
  margin: 5%;
  width: 40vw;
  height: 15vh;
  color: #c1c7d1;
  background-image: linear-gradient(#446b7c, #36525c, #30454e);
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 1.2em;
  letter-spacing: normal;
  line-height: 24px;
  border-radius: 10px;
}
