@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

.nav {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  /* padding-top: 10%; */
}

.linkClass {
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 1.5em;
  letter-spacing: normal;
  line-height: 1.6em;
  text-decoration: none;
  color: #c1c7d1;
  /* margin: 0 auto; */
}

.linkClass:hover {
  cursor: pointer;
  color: #8e96ac;
}
